# Java build artifacts
**/target/
**/*.class

# Maven/Gradle specific
**/*.iml
**/.idea/

# Docker
*.env
.env
.env.*

# Logs
*.log

# OS / Editor junk files
.DS_Store
.vscode/
.idea/

# System specific
Thumbs.db

