# Java build artifacts
**/target/
**/*.class

# Maven/Gradle specific
**/*.iml
**/.idea/
.venv/

# Docker
*.env
.env
.env.*

# Logs
*.log

# OS / Editor junk files
.DS_Store
.vscode/
.idea/

# System specific
Thumbs.db

# extras
*key*.pem
secrets

# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
*.tfplan
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Local orchestration secrets
.orchestration/**/*.pem
.orchestration/**/*.key
.orchestration/**/*.crt
